<a href="https://colab.research.google.com/github/winniejuan/CITI_Stastical_modelling/blob/main/coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

part 3

In [6]:
# string concentration
name="Alice"
message="Hello," + name + "!"
print(message)

Hello,Alice!

In [7]:
# string concentration 2
name="Alice"
message="Hello,"+name
print(message)

Hello,Alice

In [8]:
# string slicing
text="Machine Learning"
substring=text[0:7]
print(substring)

Machine

In [9]:
# string slicing 2
text="Machine Learning"
substring=text[-9:-1]
print(substring)

 Learnin

In [15]:
# lists 1
fruits=["apple","banana", "cherry"]
print(fruits[0])

apple

In [18]:
# modifying
fruits=["apple", "banana", "cherry"]
fruits[1]="orange"
print (fruits)

['apple', 'orange', 'cherry']

In [19]:
# append from lists
fuits=["apple","orange","cherry"]
fruits.append("grape")
print (fruits)

['apple', 'orange', 'cherry', 'grape']

In [20]:
#removing from list
fruits=["apple", "orange", "cherry","grape"]
fruits.remove("apple")
print(fruits)

['orange', 'cherry', 'grape']

In [23]:
# tuple
person=("John", 25,"USA")
print(person[0])

John

In [25]:
#  dictionary
my_dictionary={"Alex":23 ,"Arnold":30}
print(my_dictionary)

{'Alex': 23, 'Arnold': 30}

In [26]:
# modifying dictionary
my_dictionary={"alex":23,"Arnold":30}
my_dictionary['Arnold']=40
print(my_dictionary)

{'alex': 23, 'Arnold': 40}

In [27]:
# modifying dictionary
my_dictionary={"Alex":23,"Arnold":40}
my_dictionary['Mark']=90
print(my_dictionary)

{'Alex': 23, 'Arnold': 40, 'Mark': 90}

In [28]:
# modifying dictionary
my_dictionary={"Alex":23,"Arnold":40, "Mark":90}
my_dictionary['Arnold']
print(my_dictionary)

{'Alex': 23, 'Arnold': 40, 'Mark': 90}

In [30]:
# sets adding
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'banana', 'orange', 'apple', 'cherry'}

In [31]:
# sets removing
fruits.remove("banana")
print(fruits)

{'orange', 'apple', 'cherry'}

In [32]:
# importing using from
from math import pi
a=pi
print(a)

3.141592653589793

In [34]:
# importing using from
from math import *
a=pi
print(a)

3.141592653589793

In [35]:
# importing all math using from
from math import*
b=sqrt(64)
print(b)

8.0